
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
<nav style="background-color: rgba(141, 136, 136, 0.541);" class="navbar navbar-expand-lg  ">
    <h5 style="margin-left: 2rem;font-family: 'Caveat', cursive;font-size: 2rem;" class="navbar-brand" >Note+ </h5>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a style="color: black;" class="nav-link" href="/home">Home </a>
        </li>
        <li class="nav-item">
          <a style="color: black;" class="nav-link" href="/shared">Shared</a>
        </li>
        
      
        
        
        <li class="nav-item">
          <a style="color: black;" class="nav-link" href="/notes">Notes</a>
        </li>
        <li class="nav-item">
          <a style="color: black;" class="nav-link" href="/documents">Documents</a>
        </li>
       
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        
      </ul>
    
    </div>
  </nav>